/.mypy_cache
/.vscode
/bengalai
/champs-scalar-coupling
/coursera/data
/data_science_bowl2019/.mypy_cache
/data_science_bowl2019/.vscode
/data_science_bowl2019/data
/ieee_fraud_detection/.mypy_cache
/ieee_fraud_detection/.vscode
/ieee_fraud_detection/data
/M5_Forecasting/.mypy_cache
/M5_Forecasting/data
/dice
/home-credit-default-risk
/model
/ncaa2020